* {
    margin: 0;
    padding: 0;
    cursor: url('resources/Diamond Sword.png'), auto;
}

html{
    background: linear-gradient(60deg in hsl shorter hue, rgba(0,255,255,1), rgba(0,255,127.5,1));
    display: flex;
}
body{
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    width: 100%;
    height: stretch;
    margin: 0% 0% 0%;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}


body:active{
    background-color: rgba(0, 0, 0, 0);
    color:black;
}

.vien{
    margin: 20px 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.vien2{
    /* margin: 20px 20px;
    padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

/* đầu trang */

.dau_trang{
    height: 128px;
    /* border: solid rgb(255, 255, 255); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    /* position: relative; */
}


.title{
    flex: 1;
    margin: 10px auto;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.title:hover{
    color: yellow;
}

/*thân trang */

.than_trang{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

::selection{
    background-color:aqua;
    color:rgb(255, 255, 255);
}

.than_trang_noi_dung{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (min-width: 500px) {
    .than-trang_noi_dung{
        /* display: block; */
        flex-direction: column;
    }
}


.link{
    color: white;
    text-decoration: none;
}
/* a:-webkit-any-link {
    color: white;
} */
.link:hover{
    color: rgb(255, 0, 0);
}
    /* phần 1 */

.than_trang_noi_dung_1{
    flex: 1;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
}

    /* phần 2 */

.than_trang_noi_dung_2{
    flex: 1;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
}




    /* minh họa */

.than_trang_minh_hoa{
    width: 100%;
    height: auto;
    display: flex;
}

.than_trang_minh_hoa_anh{
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 6;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bang{
    flex: 20;
    display: flex;
    flex-wrap: wrap;

}

.cot{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-size: contain;
    flex-wrap: wrap;
}

.anh{
    /* margin: auto; */
    margin: 10px;
    width: 90%;
    height: auto;
    /* flex: 1; */
}

.than_trang_minh_hoa_video{
    flex: 4;
    margin: auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.video{
    margin: 10px;
    background-size: contain;
    width: 90%;
    height: auto;
}

    /* bình luận */

.than_trang_binh_luan{
    /* width: 100%; */
    height: 100px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.content{
    margin: 0 5%;
    flex: 5;
}

.email{
    flex: 2;
    display: flex;
}

.comment{
    flex: 2;
    display: flex;
}

.label{
    min-width: 70px;
}

.box{
    flex: 1;
}

.gui{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

/* cuối trang */

.cuoi_trang{
    background-color: rgb(200,200,200);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
.copyright{
    flex: 1;
}
